@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 font-sans;
  }
}

@theme {
  --color-primary: #3E8E41;
  --color-secondary: #C2185B;
  --color-background: #ffffff;
}